In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from env import get_db_url

# ACQUIRE

In [6]:
# sql query from zillow database:
sql = '''
SELECT
prop.*,
predictions_2017.logerror,
predictions_2017.transactiondate,
air.airconditioningdesc,
arch.architecturalstyledesc,
build.buildingclassdesc,
heat.heatingorsystemdesc,
landuse.propertylandusedesc,
story.storydesc,
construct.typeconstructiondesc
FROM properties_2017 prop
JOIN ( SELECT parcelid, MAX(transactiondate) AS max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
) pred USING(parcelid)
JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                      AND pred.max_transactiondate = predictions_2017.transactiondate
LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
LEFT JOIN storytype story USING (storytypeid)
LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
WHERE prop.latitude IS NOT NULL
  AND prop.longitude IS NOT NULL
  AND transactiondate <= '2017-12-31'
'''
        # Connecting to the data base and using the query above to select the data
        # the pandas read_sql function reads the query into a DataFrame
df = pd.read_sql(sql, get_db_url('zillow'))
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [7]:
# Shows me how many rows and columns
df.shape

(77380, 68)

In [8]:
# displays a list of every column title
df.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

In [9]:
def overview(df):
    print('--- Shape: {}'.format(df.shape))
    print('--- Info')
    df.info()
    print('--- Column Descriptions')
    print(df.describe(include='all'))

In [12]:
overview(df)

--- Shape: (77380, 68)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
--- Column Descriptions
                  id      parcelid  airconditioningtypeid  \
count   7.738000e+04  7.738000e+04           24953.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.495126e+06  1.300715e+07               1.813289
std     8.609057e+05  3.481368e+06               2.967894
min     3.490000e+02  1.071186e+07               1.000000
25%     7.520500e+05  1.153830e+07               1.000000
50%     1.497870e+06  1.253155e+07               1.000000
75%     2.240480e+06  1.421184e+07               1.000000
max     2.982274e+06  1.676893e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                 206.000000     50.000000  77380.000000  77380.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                    7.388350    679.720000      2.299134      3.053489
std                     2.734542    689.703546      0.996657      1.139103
min                     2.000000     38.000000      0.000000      0.000000
25%                     7.000000    273.000000      2.000000      2.000000
50%                     7.000000    515.000000      2.000000      3.000000
75%                     7.000000    796.500000      3.000000      4.000000
max                    21.000000   3560.000000     18.000000     16.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count             15.000000           49671.000000       76771.000000  ...
unique                  NaN                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean               3.933333               6.534638           2.316871  ...
std                0.258199               1.721933           0.979761  ...
min                3.000000               1.000000           1.000000  ...
25%                4.000000               6.000000           2.000000  ...
50%                4.000000               6.000000           2.000000  ...
75%                4.000000               8.000000           3.000000  ...
max                4.000000              12.000000          18.000000  ...

        censustractandblock      logerror  transactiondate  \
count          7.713600e+04  77380.000000            77380
unique                  NaN           NaN              264
top                     NaN           NaN       2017-06-30
freq                    NaN           NaN             1189
mean           6.049674e+13      0.016628              NaN
std            1.535252e+12      0.170190              NaN
min            6.037101e+13     -4.655420              NaN
25%            6.037311e+13     -0.024377              NaN
50%            6.037603e+13      0.006627              NaN
75%            6.059042e+13      0.039204              NaN
max            4.830301e+14      5.262999              NaN

        airconditioningdesc  architecturalstyledesc  \
count                 24953                     206
unique                    5                       5
top                 Central            Contemporary
freq                  23133                     172
mean                    NaN                     NaN
std                     NaN                     NaN
min                     NaN                     NaN
25%                     NaN                     NaN
50%                     NaN                     NaN
75%                     NaN                     NaN
max                     NaN                     NaN

                                     buildingclassdesc  heatingorsystemdesc  \
count                                               15                49439
unique                                               2                   10
top     Buildings having wood or wood and steel frames              Central
freq                                                14                33550
mean                                               NaN                  NaN
std                                                NaN                  NaN
min                                                NaN                  NaN
25%                                                NaN                  NaN
50%                                                NaN                  NaN
75%                                                NaN                  NaN
max                                                NaN                  NaN

              propertylandusedesc  storydesc  typeconstructiondesc
count                       77380         50                   222
unique                         13          1                     4
top     Single Family Residential   Basement                 Frame
freq                        52319         50                   219
mean                          NaN        NaN                   NaN
std                           NaN        NaN                   NaN
min                           NaN        NaN                   NaN
25%                           NaN        NaN                   NaN
50%                           NaN        NaN                   NaN
75%                           NaN        NaN                   NaN
max                           NaN        NaN                   NaN

[11 rows x 68 columns]