# Prepare

### Project Requirements

- Data Prep: Column data types are appropriate for the data they contain
- Data Prep: Missing values are investigated and handled
- Data Prep: Outliers are investigated and handled

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from env import get_db_url
import acquire
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = acquire.get_zillow_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.7+ MB

In [4]:
# sets thresh hold to 50 percent nulls
threshold = df.shape[0] * .50

# remove columns with high nulls
df = df.dropna(axis=1, thresh=threshold)

df.columns

Index(['id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fips', 'fullbathcnt', 'heatingorsystemtypeid',
       'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock', 'logerror',
       'transactiondate', 'heatingorsystemdesc', 'propertylandusedesc'],
      dtype='object')

In [5]:
df.propertylandusedesc.value_counts()

Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

#### should only need to analyze single family residental

In [6]:
# only list single family residental
df = df [(df.propertylandusedesc == 'Single Family Residential')]

In [7]:
df.bedroomcnt.value_counts()

3.0     23302
4.0     15210
2.0      8317
5.0      3967
6.0       634
1.0       611
0.0       135
7.0       106
8.0        24
9.0         8
10.0        2
14.0        1
11.0        1
12.0        1
Name: bedroomcnt, dtype: int64

In [8]:
df.bathroomcnt.value_counts()

2.0     21839
3.0     10650
1.0      9536
2.5      3932
4.0      2225
3.5       916
1.5       839
5.0       803
4.5       686
6.0       320
5.5       224
0.0       119
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64

In [9]:
# lets only anaylze >0 and <6
df = df[(df.bedroomcnt <= 6 ) & (df.bathroomcnt <= 6 ) & (df.bedroomcnt > 0 ) & (df.bathroomcnt > 0) ]

In [10]:
df.fips.value_counts()

6037.0    33534
6059.0    13972
6111.0     4335
Name: fips, dtype: int64

In [11]:
df.bedroomcnt.value_counts()

3.0    23294
4.0    15189
2.0     8315
5.0     3891
1.0      607
6.0      545
Name: bedroomcnt, dtype: int64

In [12]:
df.bathroomcnt.value_counts()

2.0    21827
3.0    10621
1.0     9518
2.5     3930
4.0     2202
3.5      913
1.5      839
5.0      787
4.5      679
6.0      302
5.5      223
Name: bathroomcnt, dtype: int64

In [13]:
# keep only properties less than 3000 square feet. same as regression project.
df = df[df.calculatedfinishedsquarefeet <= 3000 ]

In [14]:
df.fips.value_counts()

6037.0    30490
6059.0    11934
6111.0     3706
Name: fips, dtype: int64

In [15]:
# keep only properties less than 1m.
df = df[df.taxvaluedollarcnt <= 1000000]

In [16]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [17]:
df.unitcnt.value_counts()

1.0    28793
2.0       14
3.0        1
Name: unitcnt, dtype: int64

In [18]:
df.roomcnt.value_counts()
#same as bedrooms. will drop

0.0     31122
6.0      3809
7.0      3369
8.0      2421
5.0      1794
9.0       701
4.0       474
10.0       91
3.0        63
11.0       10
2.0         9
12.0        1
1.0         1
Name: roomcnt, dtype: int64

In [19]:
df.calculatedbathnbr.value_counts()
# already showed in bathrooms as a float

2.0    20976
1.0     9333
3.0     8254
2.5     3626
1.5      823
4.0      545
3.5      240
5.0       30
4.5       21
6.0        3
5.5        2
Name: calculatedbathnbr, dtype: int64

In [20]:
df.propertylandusedesc.value_counts()

Single Family Residential    43865
Name: propertylandusedesc, dtype: int64

In [21]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43865 entries, 1 to 77379
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            43865 non-null  int64
 1   parcelid                      43865 non-null  int64
 2   bathroomcnt                   43865 non-null  float64
 3   bedroomcnt                    43865 non-null  float64
 4   buildingqualitytypeid         28808 non-null  float64
 5   calculatedbathnbr             43853 non-null  float64
 6   calculatedfinishedsquarefeet  43865 non-null  float64
 7   finishedsquarefeet12          43745 non-null  float64
 8   fips                          43865 non-null  float64
 9   fullbathcnt                   43853 non-null  float64
 10  heatingorsystemtypeid         28872 non-null  float64
 11  latitude                      43865 non-null  float64
 12  longitude                     43865 non-null  float64
 13  lotsizesquarefeet             43648 non-null  float64
 14  propertycountylandusecode     43865 non-null  object
 15  propertylandusetypeid         43865 non-null  float64
 16  propertyzoningdesc            28797 non-null  object
 17  rawcensustractandblock        43865 non-null  float64
 18  regionidcity                  43133 non-null  float64
 19  regionidcounty                43865 non-null  float64
 20  regionidzip                   43856 non-null  float64
 21  roomcnt                       43865 non-null  float64
 22  unitcnt                       28808 non-null  float64
 23  yearbuilt                     43844 non-null  float64
 24  structuretaxvaluedollarcnt    43837 non-null  float64
 25  taxvaluedollarcnt             43865 non-null  float64
 26  assessmentyear                43865 non-null  float64
 27  landtaxvaluedollarcnt         43865 non-null  float64
 28  taxamount                     43862 non-null  float64
 29  censustractandblock           43810 non-null  float64
 30  logerror                      43865 non-null  float64
 31  transactiondate               43865 non-null  object
 32  heatingorsystemdesc           28872 non-null  object
 33  propertylandusedesc           43865 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 11.7+ MB

In [23]:
df.buildingqualitytypeid.value_counts(), df.buildingqualitytypeid.mean()

(6.0     9904
 4.0     7999
 8.0     7300
 7.0     1752
 5.0     1487
 9.0      191
 3.0      147
 11.0      20
 2.0        3
 1.0        3
 10.0       2
 Name: buildingqualitytypeid, dtype: int64,
 5.968064426548181)

In [24]:
df.isnull().sum()

id                                  0
parcelid                            0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           15057
calculatedbathnbr                  12
calculatedfinishedsquarefeet        0
finishedsquarefeet12              120
fips                                0
fullbathcnt                        12
heatingorsystemtypeid           14993
latitude                            0
longitude                           0
lotsizesquarefeet                 217
propertycountylandusecode           0
propertylandusetypeid               0
propertyzoningdesc              15068
rawcensustractandblock              0
regionidcity                      732
regionidcounty                      0
regionidzip                         9
roomcnt                             0
unitcnt                         15057
yearbuilt                          21
structuretaxvaluedollarcnt         28
taxvaluedollarcnt                   0
assessmentyear                      0
landtaxvaluedollarcnt               0
taxamount                           3
censustractandblock                55
logerror                            0
transactiondate                     0
heatingorsystemdesc             14993
propertylandusedesc                 0
dtype: int64

In [25]:
#df = df.dropna()
df = df.fillna(df.mean())

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43865 entries, 1 to 77379
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            43865 non-null  int64
 1   parcelid                      43865 non-null  int64
 2   bathroomcnt                   43865 non-null  float64
 3   bedroomcnt                    43865 non-null  float64
 4   buildingqualitytypeid         43865 non-null  float64
 5   calculatedbathnbr             43865 non-null  float64
 6   calculatedfinishedsquarefeet  43865 non-null  float64
 7   finishedsquarefeet12          43865 non-null  float64
 8   fips                          43865 non-null  float64
 9   fullbathcnt                   43865 non-null  float64
 10  heatingorsystemtypeid         43865 non-null  float64
 11  latitude                      43865 non-null  float64
 12  longitude                     43865 non-null  float64
 13  lotsizesquarefeet             43865 non-null  float64
 14  propertycountylandusecode     43865 non-null  object
 15  propertylandusetypeid         43865 non-null  float64
 16  propertyzoningdesc            28797 non-null  object
 17  rawcensustractandblock        43865 non-null  float64
 18  regionidcity                  43865 non-null  float64
 19  regionidcounty                43865 non-null  float64
 20  regionidzip                   43865 non-null  float64
 21  roomcnt                       43865 non-null  float64
 22  unitcnt                       43865 non-null  float64
 23  yearbuilt                     43865 non-null  float64
 24  structuretaxvaluedollarcnt    43865 non-null  float64
 25  taxvaluedollarcnt             43865 non-null  float64
 26  assessmentyear                43865 non-null  float64
 27  landtaxvaluedollarcnt         43865 non-null  float64
 28  taxamount                     43865 non-null  float64
 29  censustractandblock           43865 non-null  float64
 30  logerror                      43865 non-null  float64
 31  transactiondate               43865 non-null  object
 32  heatingorsystemdesc           28872 non-null  object
 33  propertylandusedesc           43865 non-null  object
dtypes: float64(27), int64(2), object(5)
memory usage: 11.7+ MB

In [27]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [28]:
df

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
1,1387261,17052889,1.0,2.0,5.968064,1.0,1465.0,1465.0,6111.0,1.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,NaN,Single Family Residential
2,11677,14186244,2.0,3.0,5.968064,2.0,1243.0,1243.0,6059.0,2.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,NaN,Single Family Residential
3,2288172,12177905,3.0,4.0,8.000000,3.0,2376.0,2376.0,6037.0,3.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential
6,781532,12095076,3.0,4.0,9.000000,3.0,2962.0,2962.0,6037.0,3.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Central,Single Family Residential
7,870991,12069064,1.0,2.0,5.000000,1.0,738.0,738.0,6037.0,1.0,...,18890.0,218552.0,2016.0,199662.0,2366.08,6.037302e+13,0.101723,2017-01-01,NaN,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77374,2274245,12412492,2.0,4.0,6.000000,2.0,1633.0,1633.0,6037.0,2.0,...,125466.0,346534.0,2016.0,221068.0,4175.08,6.037555e+13,0.001082,2017-09-19,Central,Single Family Residential
77376,673515,11000655,2.0,2.0,6.000000,2.0,1286.0,1286.0,6037.0,2.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,Central,Single Family Residential
77377,2968375,17239384,2.0,4.0,5.968064,2.0,1612.0,1612.0,6111.0,2.0,...,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,NaN,Single Family Residential
77378,1843709,12773139,1.0,3.0,4.000000,1.0,1032.0,1032.0,6037.0,1.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,Central,Single Family Residential
77379,1187175,12826780,2.0,3.0,6.000000,2.0,1762.0,1762.0,6037.0,2.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,Central,Single Family Residential

In [29]:
df.shape

(43865, 34)

In [30]:
df =df.drop(columns= ['finishedsquarefeet12', 'fullbathcnt', 'calculatedbathnbr',
                      'propertyzoningdesc', 'unitcnt', 'propertylandusedesc',
                      'assessmentyear', 'roomcnt', 'regionidcounty', 'propertylandusetypeid',
                      'heatingorsystemtypeid', 'id', 'heatingorsystemdesc', 'buildingqualitytypeid'],axis=1)

In [31]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [32]:
df.shape

(43865, 20)

In [33]:
df.columns

Index(['parcelid', 'bathroomcnt', 'bedroomcnt', 'calculatedfinishedsquarefeet',
       'fips', 'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'rawcensustractandblock', 'regionidcity',
       'regionidzip', 'yearbuilt', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'landtaxvaluedollarcnt', 'taxamount',
       'censustractandblock', 'logerror', 'transactiondate'],
      dtype='object')

In [34]:
def overview(df):
    print('--- Shape: {}'.format(df.shape))
    print('--- Info')
    df.info()
    print('--- Column Descriptions')
    print(df.describe(include='all'))
    return df

In [35]:
overview(df)

--- Shape: (43865, 20)
--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43865 entries, 1 to 77379
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      43865 non-null  int64
 1   bathroomcnt                   43865 non-null  float64
 2   bedroomcnt                    43865 non-null  float64
 3   calculatedfinishedsquarefeet  43865 non-null  float64
 4   fips                          43865 non-null  float64
 5   latitude                      43865 non-null  float64
 6   longitude                     43865 non-null  float64
 7   lotsizesquarefeet             43865 non-null  float64
 8   propertycountylandusecode     43865 non-null  object
 9   rawcensustractandblock        43865 non-null  float64
 10  regionidcity                  43865 non-null  float64
 11  regionidzip                   43865 non-null  float64
 12  yearbuilt                     43865 non-null  float64
 13  structuretaxvaluedollarcnt    43865 non-null  float64
 14  taxvaluedollarcnt             43865 non-null  float64
 15  landtaxvaluedollarcnt         43865 non-null  float64
 16  taxamount                     43865 non-null  float64
 17  censustractandblock           43865 non-null  float64
 18  logerror                      43865 non-null  float64
 19  transactiondate               43865 non-null  object
dtypes: float64(17), int64(1), object(2)
memory usage: 7.0+ MB
--- Column Descriptions
            parcelid   bathroomcnt    bedroomcnt  \
count   4.386500e+04  43865.000000  43865.000000
unique           NaN           NaN           NaN
top              NaN           NaN           NaN
freq             NaN           NaN           NaN
mean    1.297184e+07      2.044090      3.157506
std     3.081151e+06      0.705149      0.823781
min     1.071186e+07      1.000000      1.000000
25%     1.147312e+07      2.000000      3.000000
50%     1.258502e+07      2.000000      3.000000
75%     1.408498e+07      2.500000      4.000000
max     1.676380e+08      6.000000      6.000000

        calculatedfinishedsquarefeet          fips      latitude  \
count                   43865.000000  43865.000000  4.386500e+04
unique                           NaN           NaN           NaN
top                              NaN           NaN           NaN
freq                             NaN           NaN           NaN
mean                     1626.800114   6048.867913  3.403112e+07
std                       540.350068     20.991039  2.723414e+05
min                       152.000000   6037.000000  3.334062e+07
25%                      1219.000000   6037.000000  3.383621e+07
50%                      1537.000000   6037.000000  3.401686e+07
75%                      1980.000000   6059.000000  3.419513e+07
max                      3000.000000   6111.000000  3.481877e+07

           longitude  lotsizesquarefeet propertycountylandusecode  \
count   4.386500e+04       4.386500e+04                     43865
unique           NaN                NaN                        16
top              NaN                NaN                      0100
freq             NaN                NaN                     24130
mean   -1.181894e+08       9.936433e+03                       NaN
std     3.505190e+05       9.185736e+04                       NaN
min    -1.194753e+08       2.360000e+02                       NaN
25%    -1.183785e+08       5.446000e+03                       NaN
50%    -1.181407e+08       6.623000e+03                       NaN
75%    -1.179395e+08       8.095000e+03                       NaN
max    -1.175546e+08       6.971010e+06                       NaN

        rawcensustractandblock   regionidcity    regionidzip     yearbuilt  \
count             4.386500e+04   43865.000000   43865.000000  43865.000000
unique                     NaN            NaN            NaN           NaN
top                        NaN            NaN            NaN           NaN
freq                       NaN            NaN            NaN           NaN
mean              6.049185e+07   34134.592447   96619.393926   1961.002851
std               2.083072e+05   51200.780431    3851.845051     21.459066
min               6.037101e+07    3491.000000   95982.000000   1878.000000
25%               6.037402e+07   12447.000000   96212.000000   1950.000000
50%               6.037577e+07   24832.000000   96415.000000   1959.000000
75%               6.059042e+07   40227.000000   97003.000000   1975.000000
max               6.111009e+07  396556.000000  399675.000000   2016.000000

        structuretaxvaluedollarcnt  taxvaluedollarcnt  landtaxvaluedollarcnt  \
count                 43865.000000       43865.000000           43865.000000
unique                         NaN                NaN                    NaN
top                            NaN                NaN                    NaN
freq                           NaN                NaN                    NaN
mean                 132091.174829      351032.592750          219025.734640
std                   84786.907691      224472.866706          178159.787586
min                     148.000000        3254.000000             161.000000
25%                   69449.000000      164900.000000           59067.000000
50%                  113680.000000      320905.000000          182039.000000
75%                  175762.000000      494595.000000          332923.000000
max                  804938.000000     1000000.000000          962206.000000

           taxamount  censustractandblock      logerror transactiondate
count   43865.000000         4.386500e+04  43865.000000           43865
unique           NaN                  NaN           NaN             252
top              NaN                  NaN           NaN      2017-06-30
freq             NaN                  NaN           NaN             666
mean     4387.256339         6.050148e+13      0.016477             NaN
std      2607.606602         2.028179e+12      0.164337             NaN
min        49.180000         6.037101e+13     -4.655420             NaN
25%      2330.600000         6.037402e+13     -0.024876             NaN
50%      4063.030000         6.037577e+13      0.005652             NaN
75%      5983.250000         6.059042e+13      0.036821             NaN
max     24366.440000         4.830301e+14      3.175688             NaN

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,6.111001e+07,13091.0,97099.0,1967.0,88000.0,464000.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,6.059022e+07,21412.0,97078.0,1962.0,85289.0,564778.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,6.037300e+07,396551.0,96330.0,1970.0,108918.0,145143.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01
6,12095076,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,0101,6.037461e+07,47019.0,96293.0,1950.0,276684.0,773303.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01
7,12069064,1.0,2.0,738.0,6037.0,34149214.0,-118239357.0,4214.0,0100,6.037302e+07,45457.0,96325.0,1922.0,18890.0,218552.0,199662.0,2366.08,6.037302e+13,0.101723,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77374,12412492,2.0,4.0,1633.0,6037.0,33870815.0,-118070858.0,4630.0,0100,6.037555e+07,30267.0,96204.0,1962.0,125466.0,346534.0,221068.0,4175.08,6.037555e+13,0.001082,2017-09-19
77376,11000655,2.0,2.0,1286.0,6037.0,34245368.0,-118282383.0,47405.0,0100,6.037101e+07,12447.0,96284.0,1940.0,70917.0,354621.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20
77377,17239384,2.0,4.0,1612.0,6111.0,34300140.0,-118706327.0,12105.0,1111,6.111008e+07,27110.0,97116.0,1964.0,50683.0,67205.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21
77378,12773139,1.0,3.0,1032.0,6037.0,34040895.0,-118038169.0,5074.0,0100,6.037434e+07,36502.0,96480.0,1954.0,32797.0,49546.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21
77379,12826780,2.0,3.0,1762.0,6037.0,33937685.0,-117996709.0,6347.0,0100,6.037503e+07,14634.0,96171.0,1955.0,140000.0,522000.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25

In [36]:
#adding same features from regression project
df['transactiondate'] = df.transactiondate.astype('str')
df['transaction_month'] = df.transactiondate.str.split('-',expand=True)[1]

In [37]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [38]:
df

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,transaction_month
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,6.111001e+07,...,97099.0,1967.0,88000.0,464000.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,01
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,6.059022e+07,...,97078.0,1962.0,85289.0,564778.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,01
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,6.037300e+07,...,96330.0,1970.0,108918.0,145143.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,01
6,12095076,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,0101,6.037461e+07,...,96293.0,1950.0,276684.0,773303.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,01
7,12069064,1.0,2.0,738.0,6037.0,34149214.0,-118239357.0,4214.0,0100,6.037302e+07,...,96325.0,1922.0,18890.0,218552.0,199662.0,2366.08,6.037302e+13,0.101723,2017-01-01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77374,12412492,2.0,4.0,1633.0,6037.0,33870815.0,-118070858.0,4630.0,0100,6.037555e+07,...,96204.0,1962.0,125466.0,346534.0,221068.0,4175.08,6.037555e+13,0.001082,2017-09-19,09
77376,11000655,2.0,2.0,1286.0,6037.0,34245368.0,-118282383.0,47405.0,0100,6.037101e+07,...,96284.0,1940.0,70917.0,354621.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,09
77377,17239384,2.0,4.0,1612.0,6111.0,34300140.0,-118706327.0,12105.0,1111,6.111008e+07,...,97116.0,1964.0,50683.0,67205.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,09
77378,12773139,1.0,3.0,1032.0,6037.0,34040895.0,-118038169.0,5074.0,0100,6.037434e+07,...,96480.0,1954.0,32797.0,49546.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,09
77379,12826780,2.0,3.0,1762.0,6037.0,33937685.0,-117996709.0,6347.0,0100,6.037503e+07,...,96171.0,1955.0,140000.0,522000.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,09

In [39]:
df['tax_rate'] = (df.taxamount/df.taxvaluedollarcnt) * 100

In [40]:
df.fips.value_counts()

6037.0    28834
6059.0    11379
6111.0     3652
Name: fips, dtype: int64

In [41]:
df

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,transaction_month,tax_rate
1,17052889,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,1110,6.111001e+07,...,1967.0,88000.0,464000.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,01,1.222517
2,14186244,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,122,6.059022e+07,...,1962.0,85289.0,564778.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,01,1.148823
3,12177905,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,0101,6.037300e+07,...,1970.0,108918.0,145143.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,01,1.224661
6,12095076,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,0101,6.037461e+07,...,1950.0,276684.0,773303.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,01,1.230599
7,12069064,1.0,2.0,738.0,6037.0,34149214.0,-118239357.0,4214.0,0100,6.037302e+07,...,1922.0,18890.0,218552.0,199662.0,2366.08,6.037302e+13,0.101723,2017-01-01,01,1.082616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77374,12412492,2.0,4.0,1633.0,6037.0,33870815.0,-118070858.0,4630.0,0100,6.037555e+07,...,1962.0,125466.0,346534.0,221068.0,4175.08,6.037555e+13,0.001082,2017-09-19,09,1.204811
77376,11000655,2.0,2.0,1286.0,6037.0,34245368.0,-118282383.0,47405.0,0100,6.037101e+07,...,1940.0,70917.0,354621.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,09,1.262878
77377,17239384,2.0,4.0,1612.0,6111.0,34300140.0,-118706327.0,12105.0,1111,6.111008e+07,...,1964.0,50683.0,67205.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,09,1.647913
77378,12773139,1.0,3.0,1032.0,6037.0,34040895.0,-118038169.0,5074.0,0100,6.037434e+07,...,1954.0,32797.0,49546.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,09,1.768922
77379,12826780,2.0,3.0,1762.0,6037.0,33937685.0,-117996709.0,6347.0,0100,6.037503e+07,...,1955.0,140000.0,522000.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,09,1.210182

In [42]:
    df['yearbuilt'] = df['yearbuilt'].astype(int)
    df["bedroomcnt"] = df["bedroomcnt"].astype(int)
    df["calculatedfinishedsquarefeet"] = df["calculatedfinishedsquarefeet"].astype(int)
    df["fips"] = df["fips"].astype(int)
    df["lotsizesquarefeet"] = df["lotsizesquarefeet"].astype(int)
    df["rawcensustractandblock"] = df["rawcensustractandblock"].astype(int)
    df["regionidcity"] = df["regionidcity"].astype(int)
    df["regionidzip"] = df["regionidzip"].astype(int)
    df["censustractandblock"] = df["censustractandblock"].astype(int)
    df["structuretaxvaluedollarcnt"] = df["structuretaxvaluedollarcnt"].astype(int)
    df["taxvaluedollarcnt"] = df["taxvaluedollarcnt"].astype(int)
    df["landtaxvaluedollarcnt"] = df["landtaxvaluedollarcnt"].astype(int)
    df["taxamount"] = df["taxamount"].astype(int)
    df.yearbuilt = df.yearbuilt.astype(object) 
    df['age'] = 2017-df['yearbuilt']
    df = df.drop(columns='yearbuilt')
    df['age'] = df['age'].astype('int')

In [43]:
overview(df)

--- Shape: (43865, 22)
--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 43865 entries, 1 to 77379
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      43865 non-null  int64
 1   bathroomcnt                   43865 non-null  float64
 2   bedroomcnt                    43865 non-null  int64
 3   calculatedfinishedsquarefeet  43865 non-null  int64
 4   fips                          43865 non-null  int64
 5   latitude                      43865 non-null  float64
 6   longitude                     43865 non-null  float64
 7   lotsizesquarefeet             43865 non-null  int64
 8   propertycountylandusecode     43865 non-null  object
 9   rawcensustractandblock        43865 non-null  int64
 10  regionidcity                  43865 non-null  int64
 11  regionidzip                   43865 non-null  int64
 12  structuretaxvaluedollarcnt    43865 non-null  int64
 13  taxvaluedollarcnt             43865 non-null  int64
 14  landtaxvaluedollarcnt         43865 non-null  int64
 15  taxamount                     43865 non-null  int64
 16  censustractandblock           43865 non-null  int64
 17  logerror                      43865 non-null  float64
 18  transactiondate               43865 non-null  object
 19  transaction_month             43865 non-null  object
 20  tax_rate                      43865 non-null  float64
 21  age                           43865 non-null  int64
dtypes: float64(5), int64(14), object(3)
memory usage: 7.7+ MB
--- Column Descriptions
            parcelid   bathroomcnt    bedroomcnt  \
count   4.386500e+04  43865.000000  43865.000000
unique           NaN           NaN           NaN
top              NaN           NaN           NaN
freq             NaN           NaN           NaN
mean    1.297184e+07      2.044090      3.157506
std     3.081151e+06      0.705149      0.823781
min     1.071186e+07      1.000000      1.000000
25%     1.147312e+07      2.000000      3.000000
50%     1.258502e+07      2.000000      3.000000
75%     1.408498e+07      2.500000      4.000000
max     1.676380e+08      6.000000      6.000000

        calculatedfinishedsquarefeet          fips      latitude  \
count                   43865.000000  43865.000000  4.386500e+04
unique                           NaN           NaN           NaN
top                              NaN           NaN           NaN
freq                             NaN           NaN           NaN
mean                     1626.800114   6048.867913  3.403112e+07
std                       540.350068     20.991039  2.723414e+05
min                       152.000000   6037.000000  3.334062e+07
25%                      1219.000000   6037.000000  3.383621e+07
50%                      1537.000000   6037.000000  3.401686e+07
75%                      1980.000000   6059.000000  3.419513e+07
max                      3000.000000   6111.000000  3.481877e+07

           longitude  lotsizesquarefeet propertycountylandusecode  \
count   4.386500e+04       4.386500e+04                     43865
unique           NaN                NaN                        16
top              NaN                NaN                      0100
freq             NaN                NaN                     24130
mean   -1.181894e+08       9.936431e+03                       NaN
std     3.505190e+05       9.185736e+04                       NaN
min    -1.194753e+08       2.360000e+02                       NaN
25%    -1.183785e+08       5.446000e+03                       NaN
50%    -1.181407e+08       6.623000e+03                       NaN
75%    -1.179395e+08       8.095000e+03                       NaN
max    -1.175546e+08       6.971010e+06                       NaN

        rawcensustractandblock  ...  structuretaxvaluedollarcnt  \
count             4.386500e+04  ...                43865.000000
unique                     NaN  ...                         NaN
top                        NaN  ...                         NaN
freq                       NaN  ...                         NaN
mean              6.049185e+07  ...               132091.174718
std               2.083072e+05  ...                84786.907691
min               6.037101e+07  ...                  148.000000
25%               6.037402e+07  ...                69449.000000
50%               6.037577e+07  ...               113680.000000
75%               6.059042e+07  ...               175762.000000
max               6.111009e+07  ...               804938.000000

        taxvaluedollarcnt  landtaxvaluedollarcnt     taxamount  \
count        43865.000000           43865.000000  43865.000000
unique                NaN                    NaN           NaN
top                   NaN                    NaN           NaN
freq                  NaN                    NaN           NaN
mean        351032.592750          219025.734640   4386.766055
std         224472.866706          178159.787586   2607.606147
min           3254.000000             161.000000     49.000000
25%         164900.000000           59067.000000   2330.000000
50%         320905.000000          182039.000000   4063.000000
75%         494595.000000          332923.000000   5983.000000
max        1000000.000000          962206.000000  24366.000000

        censustractandblock      logerror  transactiondate  transaction_month  \
count          4.386500e+04  43865.000000            43865              43865
unique                  NaN           NaN              252                  9
top                     NaN           NaN       2017-06-30                 06
freq                    NaN           NaN              666               6554
mean           6.050148e+13      0.016477              NaN                NaN
std            2.028179e+12      0.164337              NaN                NaN
min            6.037101e+13     -4.655420              NaN                NaN
25%            6.037402e+13     -0.024876              NaN                NaN
50%            6.037577e+13      0.005652              NaN                NaN
75%            6.059042e+13      0.036821              NaN                NaN
max            4.830301e+14      3.175688              NaN                NaN

            tax_rate           age
count   43865.000000  43865.000000
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean        1.357668     55.997150
std         0.599198     21.459066
min         0.045116      1.000000
25%         1.180284     42.000000
50%         1.245697     58.000000
75%         1.398668     67.000000
max        49.364739    139.000000

[11 rows x 22 columns]

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,transaction_month,tax_rate,age
1,17052889,1.0,2,1465,6111,34449266.0,-119281531.0,12647,1110,61110010,...,88000,464000,376000,5672,61110010023006,0.055619,2017-01-01,01,1.222517,50
2,14186244,2.0,3,1243,6059,33886168.0,-117823170.0,8432,122,60590218,...,85289,564778,479489,6488,60590218022012,0.005383,2017-01-01,01,1.148823,55
3,12177905,3.0,4,2376,6037,34245180.0,-118240722.0,13038,0101,60373001,...,108918,145143,36225,1777,60373001001006,-0.103410,2017-01-01,01,1.224661,47
6,12095076,3.0,4,2962,6037,34145202.0,-118179824.0,63000,0101,60374608,...,276684,773303,496619,9516,60374608001014,-0.001011,2017-01-01,01,1.230599,67
7,12069064,1.0,2,738,6037,34149214.0,-118239357.0,4214,0100,60373020,...,18890,218552,199662,2366,60373020041001,0.101723,2017-01-01,01,1.082616,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77374,12412492,2.0,4,1633,6037,33870815.0,-118070858.0,4630,0100,60375548,...,125466,346534,221068,4175,60375548022001,0.001082,2017-09-19,09,1.204811,55
77376,11000655,2.0,2,1286,6037,34245368.0,-118282383.0,47405,0100,60371014,...,70917,354621,283704,4478,60371014003002,0.020615,2017-09-20,09,1.262878,77
77377,17239384,2.0,4,1612,6111,34300140.0,-118706327.0,12105,1111,61110084,...,50683,67205,16522,1107,61110084022016,0.013209,2017-09-21,09,1.647913,53
77378,12773139,1.0,3,1032,6037,34040895.0,-118038169.0,5074,0100,60374338,...,32797,49546,16749,876,60374338022005,0.037129,2017-09-21,09,1.768922,63
77379,12826780,2.0,3,1762,6037,33937685.0,-117996709.0,6347,0100,60375034,...,140000,522000,382000,6317,60375034021020,0.007204,2017-09-25,09,1.210182,62

In [44]:
df.isnull().sum()

parcelid                        0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidzip                     0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
logerror                        0
transactiondate                 0
transaction_month               0
tax_rate                        0
age                             0
dtype: int64

In [45]:
df.fips.value_counts()

6037    28834
6059    11379
6111     3652
Name: fips, dtype: int64

In [46]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

df.head()

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,regionidcity_outliers,regionidzip_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,censustractandblock_outliers,logerror_outliers,tax_rate_outliers,age_outliers
1,17052889,1.0,2,1465,6111,34449266.0,-119281531.0,12647,1110,61110010,...,0.0,0.0,0.0,0.0,0.0,0.0,1.949823e+11,0.0,0.0,0.0
2,14186244,2.0,3,1243,6059,33886168.0,-117823170.0,8432,122,60590218,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
3,12177905,3.0,4,2376,6037,34245180.0,-118240722.0,13038,0101,60373001,...,314654.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
6,12095076,3.0,4,2962,6037,34145202.0,-118179824.0,63000,0101,60374608,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0
7,12069064,1.0,2,738,6037,34149214.0,-118239357.0,4214,0100,60373020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0

In [47]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
parcelid_outliers
count    1.300000e+01
mean     1.414262e+08
std      2.407460e+07
min      6.163772e+07
25%      1.449578e+08
50%      1.496337e+08
75%      1.496340e+08
max      1.496352e+08
Name: parcelid_outliers, dtype: float64
~~~
bathroomcnt_outliers
count    841.000000
mean       0.666171
std        0.354965
min        0.250000
25%        0.250000
50%        0.750000
75%        0.750000
max        2.750000
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    181.0
mean       0.5
std        0.0
min        0.5
25%        0.5
50%        0.5
75%        0.5
max        0.5
Name: bedroomcnt_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
fips_outliers
count    3652.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers, dtype: float64
~~~
latitude_outliers
count       28.000000
mean     31530.571429
std      24181.786094
min        443.000000
25%      16919.500000
50%      23566.000000
75%      45221.250000
max      85273.000000
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    3.547000e+03
mean     3.685141e+04
std      3.204274e+05
min      4.500000e+00
25%      1.891000e+03
50%      5.622500e+03
75%      1.503600e+04
max      6.958942e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count      3652.000000
mean     195023.925520
std          25.807977
min      194974.500000
25%      195001.500000
50%      195028.500000
75%      195047.500000
max      195063.500000
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count      1551.000000
mean     169105.625403
std      138456.430805
min       31515.000000
25%       36328.000000
50%       37097.000000
75%      314157.000000
max      314659.000000
Name: regionidcity_outliers, dtype: float64
~~~
regionidzip_outliers
count         7.0
mean     301485.5
std           0.0
min      301485.5
25%      301485.5
50%      301485.5
75%      301485.5
max      301485.5
Name: regionidzip_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count      1262.000000
mean      58026.311410
std       55454.312711
min          63.500000
25%       17136.000000
50%       41926.500000
75%       82622.750000
max      469706.500000
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count       56.000000
mean      5878.839286
std       3167.848816
min        729.500000
25%       3280.500000
50%       5835.000000
75%       8480.500000
max      10862.500000
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count       307.000000
mean      45489.478827
std       40074.505047
min         230.000000
25%       17767.500000
50%       33357.000000
75%       57473.500000
max      218499.000000
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count      397.000000
mean      1313.792191
std       1752.224588
min          1.500000
25%        297.500000
50%        698.500000
75%       1641.500000
max      12903.500000
Name: taxamount_outliers, dtype: float64
~~~
censustractandblock_outliers
count    3.647000e+03
mean     3.107134e+11
std      6.986542e+12
min      1.949742e+11
25%      1.950012e+11
50%      1.950302e+11
75%      1.950474e+11
max      4.221151e+14
Name: censustractandblock_outliers, dtype: float64
~~~
logerror_outliers
count    3273.000000
mean        0.214597
std         0.355344
min         0.000022
25%         0.038358
50%         0.098186
75%         0.231426
max         3.046320
Name: logerror_outliers, dtype: float64
~~~
tax_rate_outliers
count    4250.000000
mean        0.527999
std         1.604964
min         0.000194
25%         0.093339
50%         0.242673
75%         0.520916
max        47.638496
Name: tax_rate_outliers, dtype: float64
~~~
age_outliers
count    686.000000
mean       5.081633
std        5.342151
min        0.500000
25%        1.500000
50%        3.500000
75%        6.500000
max       34.500000
Name: age_outliers, dtype: float64

In [48]:
def remove_outliers(df, k, col_list):
    ''' remove outliers from a list of columns in a dataframe and return that dataframe'''  
    for col in col_list:
        # get quartiles
        q1, q3 = df[f'{col}'].quantile([.25, .75])  
        # calculate interquartile range
        iqr = q3 - q1   
        # get upper bound
        upper_bound = q3 + k * iqr 
        # get lower bound
        lower_bound = q1 - k * iqr   
        # return dataframe without outliers        
        df = df[(df[f'{col}'] > lower_bound) & (df[f'{col}'] < upper_bound)]        
    return df

In [49]:
#removing outliers
df = remove_outliers(df, 3, ['lotsizesquarefeet', 'structuretaxvaluedollarcnt','rawcensustractandblock'])

# Put all together in prepare.py

In [50]:
def prep_zillow(df):
    '''
    Returns clean dataframe
    '''
    df = data_prep(df)    
    df = df [(df.propertylandusedesc == 'Single Family Residential')]
    # Only show properties less than and equal to 6 bed/baths 
    df = df[(df.bedroomcnt <= 6 ) & (df.bathroomcnt <= 6 )]    
    # Remove properties where there are no baths and no beds
    df = df[df.bathroomcnt > 0]  
    df = df[df.bedroomcnt > 0]  
    # keep only properties less than 3000 square feet
    df = df[df.calculatedfinishedsquarefeet <= 3000 ]    
    # keep only properties less than 1m.
    df = df[df.taxvaluedollarcnt <= 1000000]  
    # Remove 13 rows where unit count is 2. The NaN's can be safely
    # assumed as 1 and were just mislabeled in other counties.  
    #df = df[df['unitcnt'] != 2]
    #df['unitcnt'].fillna(1) 
    # do not need any of finishedsquarefeet columns
    # removing these columns that are repeated and unnecessary
    df =df.drop(columns= ['finishedsquarefeet12', 'fullbathcnt', 'calculatedbathnbr',
                      'propertyzoningdesc', 'unitcnt', 'propertylandusedesc',
                      'assessmentyear', 'roomcnt', 'regionidcounty', 'propertylandusetypeid',
                      'heatingorsystemtypeid', 'id', 'heatingorsystemdesc', 'buildingqualitytypeid'],
            axis=1)    
    # The last nulls can be dropped altogether. 
    df = df.fillna(df.mean())
    # convert the following to int.
    df['yearbuilt'] = df['yearbuilt'].astype(int)
    df["bedroomcnt"] = df["bedroomcnt"].astype(int)
    df["calculatedfinishedsquarefeet"] = df["calculatedfinishedsquarefeet"].astype(int)
    df["fips"] = df["fips"].astype(int)
    df["lotsizesquarefeet"] = df["lotsizesquarefeet"].astype(int)
    df["rawcensustractandblock"] = df["rawcensustractandblock"].astype(int)
    df["regionidcity"] = df["regionidcity"].astype(int)
    df["regionidzip"] = df["regionidzip"].astype(int)
    df["censustractandblock"] = df["censustractandblock"].astype(int)
    df["structuretaxvaluedollarcnt"] = df["structuretaxvaluedollarcnt"].astype(int)
    df["taxvaluedollarcnt"] = df["taxvaluedollarcnt"].astype(int)
    df["landtaxvaluedollarcnt"] = df["landtaxvaluedollarcnt"].astype(int)
    df["taxamount"] = df["taxamount"].astype(int)
    df['tax_rate'] = (df.taxamount/df.taxvaluedollarcnt) * 100
    df.yearbuilt = df.yearbuilt.astype(object) 
    df['age'] = 2017-df['yearbuilt']
    df = df.drop(columns='yearbuilt')
    df['age'] = df['age'].astype('int')
    df['age_bin'] = pd.cut(df.age, 
                           bins = [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140],
                           labels = [0, .066, .133, .20, .266, .333, .40, .466, .533, 
                                     .60, .666, .733, .8, .866, .933])

    # add month feature
    df['transactiondate'] = df.transactiondate.astype('str')
    df['transaction_month'] = df.transactiondate.str.split('-',expand=True)[1]
    # add county names for fips feature
    df['county'] = np.where(df.fips == 6037, 'Los Angeles', np.where(df.fips == 6059, 'Orange','Ventura') )
    #df = df.drop(columns = â€˜fipsâ€™)
    print('yearbuilt converted to age, added month of transaction, added County names. \n')   
    # Removing outliers 
    df = remove_outliers(df, 3, ['lotsizesquarefeet', 'structuretaxvaluedollarcnt','rawcensustractandblock']) 


    return df

In [51]:
df

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,...,regionidcity_outliers,regionidzip_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,censustractandblock_outliers,logerror_outliers,tax_rate_outliers,age_outliers
1,17052889,1.0,2,1465,6111,34449266.0,-119281531.0,12647,1110,61110010,...,0.0,0.0,0.0,0.0,0.0,0.0,1.949823e+11,0.0,0.000000,0.0
2,14186244,2.0,3,1243,6059,33886168.0,-117823170.0,8432,122,60590218,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
3,12177905,3.0,4,2376,6037,34245180.0,-118240722.0,13038,0101,60373001,...,314654.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
7,12069064,1.0,2,738,6037,34149214.0,-118239357.0,4214,0100,60373020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
10,11104527,3.0,4,2540,6037,34434971.0,-118464390.0,10384,0101,60379200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77373,10722691,2.0,3,1570,6037,34194943.0,-118629218.0,7499,0100,60371352,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
77374,12412492,2.0,4,1633,6037,33870815.0,-118070858.0,4630,0100,60375548,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0
77377,17239384,2.0,4,1612,6111,34300140.0,-118706327.0,12105,1111,61110084,...,0.0,0.0,0.0,0.0,0.0,0.0,1.950563e+11,0.0,0.000000,0.0
77378,12773139,1.0,3,1032,6037,34040895.0,-118038169.0,5074,0100,60374338,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.042679,0.0
77379,12826780,2.0,3,1762,6037,33937685.0,-117996709.0,6347,0100,60375034,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,0.0

In [52]:
df.fips.value_counts()

6037    27152
6059    11137
6111     3381
Name: fips, dtype: int64